@import "../../styles/global-imports";

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 5rem 0.5rem;

  height: calc(90vh - 250px);
  overflow-y: scroll;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 0, 0);
}
