$primary-color: #333;
$font: #333333;
$dark-gray: #828282;
$light-gray: #f2f2f2;
$red: #e2350d;
$white: #ffffff;

$fire: #ee7f33;
$normal: #a9a778;
$water: #6890f0;
$grass: #78c84f;
$ice: #98d8d7;
$poison: #a040a1;
$ground: #e0c069;
$flying: #a790ef;
$bug: #a8b821;
$rock: #b6a037;
$ghost: #705797;
$dragon: #724ef9;
$dark: #6f5848;
$steel: #b8b8d0;
$fairy: #f4c8e2;
$psychic: #e95587;
$electric: #f8cf32;
$fighting: #c03228;
